<div class="movie-list">

    <div ng-hide="mc.errorMessage || mc.searchMessage" ng-cloak>
        <br> Sort BY :
        <button class="btn btn-info" ng-click="mc.sortMovies('Title')"> Title </button>
        <button class="btn btn-info" ng-click="mc.sortMovies('Type')"> Type </button>
        <button class="btn btn-info" ng-click="mc.sortMovies('Year')"> Year </button>
        <br>
    </div>

    <div ng-repeat="movie in mc.moviesList  | orderBy : mc.sortType" ng-hide="mc.errorMessage">
        <movie-component movie='movie' search='mc.movieString'></movie-component>
    </div>

    <div class="alert alert-danger" ng-show="mc.errorMessage" ng-cloak>
        <strong>Error: </strong> {{mc.errorMessage}}
    </div>

    <div class="alert alert-info" ng-show="mc.searchMessage" ng-cloak>
        <div style="display: inline-block" class="loader"></div>
        <div style="display: inline-block" class="spinner-text"><strong>{{mc.searchMessage}}</strong></div>
    </div>
</div>