@import "theme.scss";
@import "mixin.scss";

.button {
    width: $button-width;
    height: $button-height;
	line-height: $button-height;
    font-size: $button-text-size;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    display: block;
    box-shadow: $button-shadow;
	text-align: center;
}

.primary-button {
    @extend .button;
    color: $button-primary-text-color;
    background-color: $button-primary-background-color;    
}

.secondary-button {
    @extend .button;
    color: $button-secondary-text-color;
    background-color: $button-secondary-background-color;

    &:hover, &.selected {
        background-color: $button-secondary-higlighted-background-color;
    }
}


.menu {
	@extend .clearfix;
	
	list-style: none;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
	
	li {
		float: left;
	}
}

.app-view {
	@extend .clearfix;
}

.movie-list {
    padding-top: 10px;
}
.wrapper {
	padding: 0;
	border: none;
	position: relative;
}

.title {
	color: #fafafa;
    word-wrap: break-word;
    font-size: 26px;
    margin-top: 21px;
    margin-bottom: 10.5px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    line-height: 1.1;
}

.title-top {
    margin: 0 0 10.5px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #222222;
}


.poster {
    height: 300px;
    width: 200px;
    /*width: 100%;*/
    border-radius: 2px;
    box-shadow: 1px 0px 5px 1px rgba(189, 188, 188, 0.7);
    cursor: pointer;
}

.mask {
	display: none;
	position: absolute;
	height: 300px;
    width: 200px;
    padding: 12px;
    background-color: rgba(76, 76, 76, 0.8);
    top: 4px;
}


.wrapper:hover .mask{
	display: block;
}

.movie-description .glyphicon {
	color: #ccc;
}

.movie-detail {
	margin: 20px 0;
	border: none;
    text-align: center;
}

.movie-description {
    padding: 8px 0;
    width: 100%;
    color: #fafafa;
    margin-top: 25px;
}

.movie-description p {
	margin-bottom: 0;
	text-transform: capitalize;
    font-size: 16px;
}
.movie-description div {
	width:45%;
}

.Type {
	text-align: right;
}

.Year {
	text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.center {
    text-align: center;
}


.loader {
  border: 4px solid #d9edf7;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-text {
    position: absolute;
    left: 70px;
    top: 22px;
}