<div  class=" tile col-md-6 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>
                {{mcc.movie.Title}}
                <!--<span class="pull-right">
                    <a href="#/edit/{{contactObject.id}}" class="edit fa fa-pencil-square-o"></a>
                    <a href="" class="delete fa fa-trash-o" ng-click="deleteContact({index: index})"></a>
                </span>-->
            </h4>
        </div>
        <div class="panel-body">
            <img src="{{mcc.movie.Poster}}" class="pull-left"/>
            <div class="media-body ">
                <d1>
                    <dt>Type:</dt>
                    <dd>{{mcc.movie.Type}}</dd>
                    <dt>Year:</dt>
                    <dd>{{mcc.movie.Year}}</dd>
                </d1>
            </div>
        </div>
    </div>
</div>